html {
    color: #01161E;
    text-decoration-color: #01161E;
    background-color: #FFFFFF;
    background-image: linear-gradient(#FFFFFF, #FBEDFC);
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}   

a {
    text-decoration: none;
    color:#01161E;
}

a:hover {
    text-decoration: underline wavy;
}

.page-title, 
footer {
    text-align: center;
}

.proj,
.about-me-blurb {
    background-color: #FFFFFF;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
}

.proj-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.proj {
    width: 25%;
    float: left;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
}   


.proj > h2, 
p, 
.btn {
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.proj-title {
    font-size: 20px;
}

.about-me-blurb {
    border-radius: 8px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
}

.hero-text {
    text-align: left;
    margin-left: 20px;
}

.about-me-blurb > p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.about-me-blurb > ul {
    margin-left: 20px;
}

.about-me-blurb > li {
    display: inline-block;
    margin: 0 30px;
}

.landingPage {
    text-align: center;
}

.btn {
    border-radius: 8px;
    cursor:pointer;
}

.btn-container {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.catButton {
    height: auto;
    width: 275px;
}

.catButton:hover {
    cursor:pointer;
}

main {
    width: min(65ch, 100% - 4rem);
    margin-inline: auto;
}