* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration-color: #0D1821;
}

a {
    text-decoration: none;
    color:#0D1821;
}

a:hover {
    text-decoration: underline wavy;
    color:#0D1821;
}

body {
    background-color: #FBEDFC;
}   

h1, footer {
    text-align: center;
}

.proj, .projects-grid, .about-me-blurb {
    background-color: white;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 20px;
}   

.about-me-blurb {
    text-align: center;
}

.hero-text {
    font-size: 30px;
    
}

.landingPage {
    text-align: center;
}

.btn {
    background-color: white;
    border-radius: 8px;
    cursor:pointer;
}

.btn:hover {
    background-color: #E5F0E9;
}

.catButton {
    height: auto;
    width: 275px;
}

.catButton:hover {
    cursor:pointer;
}

.about-me-blurb {
    text-align: center;
}